body {
	background-color: #fbf7f0;
	color: rgb(55,55,55);
	font-size: 17px;
	font-family: 'Playfair Display', serif;
	

}
h1,h2,h3{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1 { font-weight: 200;
	
	letter-spacing: 2px;
	font-size: 32px;
	text-align: center;;

 }

 h2{
 	color: rgb(100,100,100);
 	font-family: 
 	font-size:24px;
 	font-weight: lighter;
 }

 a{
 	color: #312c51;
 	text-decoration: none;
 	font-weight: bold;
 	transition: color 0.3s ease;

 }

 a:hover{
 	color: #c1a1d3;
 }

/*custom design with class*/
 .container {
 	width: 700px;
 	margin: 40px auto;
 }


@media (max-width: 720PX) {
	.container {
		width: 500px;
	}
}

 @media (max-width: 540px) {
 	.container {
 		width: 350px;
 	}
 }

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

h2:hover {
	color: rgb(30,30,30);
}

.img-circle {
	display: inline-block;
	position: bottom;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}
.img-circle img {
	width: 100%;
	height: auto;
	position: bottom;

	
}

.btn-purple {
	background-color: #fbfefb;
	color: #e7c6ff;
	border: 3px solid #e7c6ff;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-purple:hover {
	
	background-color: #e7c6ff;
	color: white;
}

.list-inline {
	padding-left: 0px;
	list-style: none;

}

.list-inline li {
	padding: 40px;
	display: inline;
}

.list-inline i {
	font-size: 50px;
	color: #e7c6ff;

}

.list-inline i:hover {
	font-size: 50px;
	color: rgb(193,161,211);
	
}

#intro p{
	margin-bottom: 40px;
}
















